body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.editor-header {
  margin-bottom: 20px;
}

button {
  margin: 5px;
  background-color: black;
  color: white;
  padding: 7px;
}

.canvas {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.Button {
  display: flex;
  justify-content: space-between;
}
